/**
 * Web design skeleton using HTML/CSS
 **/

 body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;  
    margin: 0;   
  }

  #main-nav {
      width: 100%;
      position: relative;
      display: inline-block;
      background: black;
                  
  }

  .name {
    font-size: 35px;  
    width: 18%;
    background: red;
    margin-left: 50px;
    float: left;
    font-weight: bolder;
    /* width: 150px;
    height: 76px; */
    border: 1px solid gray;
    /* box-sizing: border-box; */
    left: 200px; 
    text-align: center;
    
                  
  }

  ul {
    float: right;
    display: block;
    list-style-type: none;
    margin: 15px;
    padding: 0;
    /* overflow: hidden; */
    background-color: black;
}

li {
    float: right;
    border-right:1px solid #bbb;
}

li:last-child {
    border-left: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.about-me {
    position: absolute;
    color: white;
    top: 17%;
    margin-right: 25%;
    margin-left: 25%;
    border: solid;
    width: 50%;
    text-align: center;
    border-color: gray;
    padding: 20px;
    background-color: black;
}

h2 {
    color: #4CAF50;
    font-size: 32px;
    border-bottom: solid gray;
}

div.about-me img{
    margin-top: 10px;
    float: left;
    width: 33%;
    height: auto;
}

p{
    line-height: 1.8 

}
   
#gallery {
    position: absolute;
    top: 17%;   
    margin: 5px;
    border: 1px solid gray;
    float: left;
    width: 160px;
}

div.gallery img {
    width: auto;
    height: 250px;
}

#contact-form{
    top: 50px;
    margin-top: 50px;
    margin-left: 100px; 
    width: 600px;
    height: 300px;
    background: gray;
    border: solid;
    border-color: black;
    color: black;
    font-size: 18px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

    footer{
    font-size: 18px; 
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    }
